/* Reset selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default padding and margins */
h1, h2, h3, p, ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
ul {
  margin-left: 2em;
}

/* Body styling */
body {
  width: 80%;
  margin: auto;
  border: 2px solid #f6bb73; /* Accent color */
}

/* Header styling */
header {
  border-bottom: 2px solid #f6bb73;
  background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
}

/* Main heading borders */
main h1 {
  border-top: 2px solid #f6bb73;
  border-bottom: 2px solid #f6bb73;
}

/* Footer styling */
footer {
  background-color: #f6bb73;
}
footer p {
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Header image margins */
header img {
  margin: 0.75em 1em;
}

/* h2 and h3 padding */
h2 {
  padding-bottom: 0;
}
h3 {
  padding-bottom: 1em;
}

/* Main padding */
main {
  padding: 0 1em 1em 1em;
}

/* Blockquote styling */
blockquote {
  font-style: italic;
  padding-left: 1em;
}

/* Speaker image borders */
main img {
  border: 4px double #f6bb73;
  border-radius: 8px;
}
